#displayArea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #000;
    background-color: white;
  }

  .highlight {
    background-color: yellow;
  font-weight: bold;        
  transition: 0.3s; 
  }

body {
  background-color: yellow;
}

