#displayArea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #000;
    background-color: white;
  }

  .highlight {
    background-color: yellow;
    background-color: yellow; /* 背景を黄色にする */
  font-weight: bold;        /* 文字を太くする */
  transition: 0.3s; 
  }

body {
  background-color: yellow;
}

/* JavaScriptによってこのクラスが付与された時だけ適用される */
.highlight {
  background-color: yellow; /* 背景を黄色にする */
  font-weight: bold;        /* 文字を太くする */
  transition: 0.3s;         /* (補足) 変化をふわっとさせる */
}